* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: all 750ms cubic-bezier(0.645, 0.045, 0.355, 1); }

html {
  font-size: 62.5%; }

body {
  font-size: 2.5rem;
  line-height: normal;
  font-family: 'Varela', sans-serif; }

h1 {
  font-size: 4.5rem;
  line-height: 5rem; }
  @media (max-width: 950px) {
    h1 {
      font-size: 3.5rem;
      line-height: 4rem; } }
  @media (max-width: 480px) {
    h1 {
      font-size: 2.5rem;
      line-height: 3rem; } }

h2 {
  font-size: 3.8rem;
  line-height: 4.2rem; }

h3 {
  font-size: 2.4rem;
  line-height: 2.8rem; }

a:link,
a:visited {
  text-decoration: none; }

li {
  list-style: none; }

.has-before:before {
  content: '';
  position: absolute; }

.has-after:after {
  content: '';
  position: absolute; }

.has-both:before, .has-both:after {
  content: '';
  position: absolute; }

.container {
  position: relative;
  width: 100%;
  max-width: 1366px;
  padding: 0 33px;
  margin: 0 auto; }

main {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden; }
  main span {
    position: absolute; }
    main span:nth-child(2) {
      left: 100px; }

.section {
  position: absolute;
  top: 100%;
  height: 100%;
  width: 100%;
  overflow: auto;
  background: black;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; }
  .section:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    background: linear-gradient(to left, rgba(0, 0, 0, 0.8), transparent); }
  .section.active {
    top: 0; }
  .section.home {
    background-image: url(home.jpg); }
  .section.professional {
    background-image: url(professional.jpg); }

.circle {
  position: absolute;
  height: 50vh;
  width: 30vh;
  top: 30%;
  left: 50%;
  border-radius: 50%; }
  .circle:after {
    position: absolute;
    content: "";
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 10px;
    width: 10px;
    background: white;
    border-radius: 50%; }

.nav {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  right: 50px;
  top: 0;
  z-index: 100; }
  .nav li {
    position: relative;
    width: 300px;
    height: 20%;
    border: 1px solid white;
    cursor: pointer; }
    .nav li:before {
      content: '';
      position: absolute;
      top: 50%;
      left: 10%;
      transform: translateY(-50%);
      width: 0;
      height: 2px;
      border-radius: 2px;
      background: #fff;
      transition: all 750ms cubic-bezier(0.645, 0.045, 0.355, 1); }
    .nav li:hover {
      background: rgba(0, 0, 0, 0.2); }
      .nav li:hover:before {
        width: 10%; }
      .nav li:hover .trigger-title {
        color: white;
        left: 25%; }
  .nav .trigger-title {
    color: rgba(255, 255, 255, 0.8);
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%); }

.page-content {
  width: 100%;
  padding-right: 350px;
  z-index: 2; }

.glitch {
  margin-top: 200px;
  color: white;
  font-size: 100px;
  position: relative;
  width: 400px;
  margin: 0 auto; }
  .glitch:before {
    content: attr(data-text);
    position: absolute;
    left: -2px;
    text-shadow: 1px 0 blue;
    color: white;
    animation: glitchTwo 3s infinite linear alternate-reverse; }
  .glitch:after {
    content: attr(data-text);
    position: absolute;
    left: 2px;
    top: 0;
    text-shadow: -1px 0 red;
    color: white;
    animation: glitchOne 2s infinite linear alternate-reverse; }

@keyframes glitchOne {
  0% {
    clip: rect(51px, 9999px, 51px, 0); }
  5% {
    clip: rect(18px, 9999px, 43px, 0); }
  10% {
    clip: rect(85px, 9999px, 68px, 0); }
  15% {
    clip: rect(47px, 9999px, 20px, 0); }
  20% {
    clip: rect(13px, 9999px, 11px, 0); }
  25% {
    clip: rect(35px, 9999px, 45px, 0); }
  30% {
    clip: rect(74px, 9999px, 67px, 0); }
  35% {
    clip: rect(85px, 9999px, 12px, 0); }
  40% {
    clip: rect(68px, 9999px, 62px, 0); }
  45% {
    clip: rect(33px, 9999px, 98px, 0); }
  50% {
    clip: rect(48px, 9999px, 64px, 0); }
  55% {
    clip: rect(57px, 9999px, 93px, 0); }
  60% {
    clip: rect(46px, 9999px, 26px, 0); }
  65% {
    clip: rect(35px, 9999px, 65px, 0); }
  70% {
    clip: rect(87px, 9999px, 17px, 0); }
  75% {
    clip: rect(48px, 9999px, 82px, 0); }
  80% {
    clip: rect(2px, 9999px, 44px, 0); }
  85% {
    clip: rect(27px, 9999px, 36px, 0); }
  90% {
    clip: rect(6px, 9999px, 13px, 0); }
  95% {
    clip: rect(15px, 9999px, 25px, 0); }
  100% {
    clip: rect(75px, 9999px, 68px, 0); } }
@keyframes glitchTwo {
  0% {
    clip: rect(75px, 9999px, 20px, 0); }
  5% {
    clip: rect(15px, 9999px, 95px, 0); }
  10% {
    clip: rect(99px, 9999px, 32px, 0); }
  15% {
    clip: rect(68px, 9999px, 78px, 0); }
  20% {
    clip: rect(2px, 9999px, 5px, 0); }
  25% {
    clip: rect(82px, 9999px, 17px, 0); }
  30% {
    clip: rect(61px, 9999px, 84px, 0); }
  35% {
    clip: rect(61px, 9999px, 21px, 0); }
  40% {
    clip: rect(78px, 9999px, 39px, 0); }
  45% {
    clip: rect(6px, 9999px, 26px, 0); }
  50% {
    clip: rect(48px, 9999px, 53px, 0); }
  55% {
    clip: rect(51px, 9999px, 63px, 0); }
  60% {
    clip: rect(56px, 9999px, 34px, 0); }
  65% {
    clip: rect(93px, 9999px, 16px, 0); }
  70% {
    clip: rect(6px, 9999px, 35px, 0); }
  75% {
    clip: rect(62px, 9999px, 69px, 0); }
  80% {
    clip: rect(100px, 9999px, 100px, 0); }
  85% {
    clip: rect(51px, 9999px, 69px, 0); }
  90% {
    clip: rect(53px, 9999px, 22px, 0); }
  95% {
    clip: rect(97px, 9999px, 63px, 0); }
  100% {
    clip: rect(35px, 9999px, 32px, 0); } }

/*# sourceMappingURL=style.css.map */
