* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	transition: all 750ms cubic-bezier(0.645, 0.045, 0.355, 1);
}
$white: #ffffff;
$red: #c00200;
$light-gray: #eaeaea;
$gray: #aeaeae;
$dark-gray: #656665;
$black: #000000;

html {
	font-size: 62.5%;
}
body {
	font-size: calc(1rem + 2vh);
	line-height: normal;
	color: $white;
	font-family: 'Varela', sans-serif;
}
h1 {
	font-size: calc(1rem + 10vh);
}
h2 {
	font-size: calc(1rem + 6vh);
}
h3 {
	font-size: calc(1rem + 4vh);
}
h4 {
	font-size: calc(1rem + 3vh);
}

a:link,
a:visited {
	text-decoration: none;
}
li {
	list-style: none;
}
.has-before {
	&:before {
		content: '';
		position: absolute;
	}
}
.has-after {
	&:after {
		content: '';
		position: absolute;
	}
}
.has-both {
	&:before,
	&:after {
		content: '';
		position: absolute;
	}
}
.container {
	position: relative;
	width: 100%;
	max-width: 1366px;
	padding: 0 33px;
	margin: 0 auto;
}

main {
	position: relative;
	height: 100vh;
	width: 100%;
	overflow: hidden;
	span {
		position: absolute;
		&:nth-child(2) {
			left: 100px;
		}
	}
}

.section {
	position: absolute;
	top: 100%;
	height: 100%;
	width: 100%;
	padding: 5vh 20vw 5vh 5vw;
	overflow: auto;
	background: black;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	// &:before {
	// 	content: "";
	// 	position: absolute;
	// 	height: 100%;
	// 	width: 100%;
	// 	top: 0;
	// 	left: 0;
	// 	background: linear-gradient(-30deg, rgba(0,0,0,.5), transparent);
	// }
	&.active {
		top: 0;
	}
	&.home {
		// background-image: url(home.jpg);
		background: $black;
	}
	&.professional {
		background-image: url(professional.jpg);
	}
}

.nav {
	position: fixed;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100vh;
	right: 2vw;
	top: 0;
	z-index: 100;
	li {
		position: relative;
		width: 18vw;
		height: 20%;
		border: 1px solid white;
		cursor: pointer;
		&:before {
			content: '';
			position: absolute;
			top: 50%;
			left: 10%;
			transform: translateY(-50%);
			width: 0;
			height: 2px;
			border-radius: 2px;
			background: $white;
			transition: all 750ms cubic-bezier(0.645, 0.045, 0.355, 1);

		}
		&:hover {
			background: rgba(0,0,0,.2);
			&:before {
				width: 10%;
			}
			.trigger-title {
				color: rgba(255, 255, 255, 1);
				left: 25%;
			}
		}
	}
	.trigger-title {
		color: rgba(255, 255, 255, .8);
		position: absolute;
		top: 50%;
		left: 10%;
		transform: translateY(-50%);
	}
}

.page-content {
	width: 100%;
	z-index: 2;
}


.glitch{
	color: $white;
	position:relative;
	&:before{
		content:attr(data-text);
		position:absolute;
		left:-2px;
		text-shadow:1px 0 blue; 
		color:white;
		animation:glitchTwo 3s infinite linear alternate-reverse;
	}
	&:after{
		content:attr(data-text);
		position:absolute;
		left:2px;
		top: 0;
		text-shadow:-1px 0 red;
		color:white;
		animation:glitchOne 2s infinite linear alternate-reverse;
	}
}
@keyframes glitchOne{
  $steps:20;
  @for $i from 0 through $steps{
    #{percentage($i*(1/$steps))}{
      clip:rect(random(100)+px,9999px,random(100)+px,0);
    }
  }
}

@keyframes glitchTwo{
  $steps:20;
  @for $i from 0 through $steps{
    #{percentage($i*(1/$steps))}{
      clip:rect(random(100)+px,9999px,random(100)+px,0);
    }
  }
}















